.login_container {
  width: 600px;
  height: 500px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1,
  hr {
    width: 100%;
    margin: 10px;
  }

  .textField {
    > div {
      display: block;
      margin: 15px;
      width: 450px;
      font-size: 18px;
    }
    margin: 30px;
  }
  .moveSignup {
  }
  > button {
    width: 500px;
    height: 50px;
    margin: 30px;
  }

  > a {
    cursor: pointer;
  }

  @media (max-width: 600px) {
    width: 320px;
    .textField {
      > div {
        width: 300px;
      }
    }
    > button {
      width: 300px;
    }
  }
}
