.container {
  padding-top: 5rem;
  padding-left: 4rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.submitIcon {
  display : flex;
  justify-content: center;
  align-items : center;
}

.item {
  padding: 20px;
  list-style-type: none;
}

.kick {
  cursor: pointer;
}

.assignmentList {
  display: flex;
  flex-direction: column;
  gap: 15px;
}