.container {
  padding-top: 5rem;
  padding-left: 2rem;
}

.listItem {
  list-style-type: none;
  padding: 15px;
}

/*sidebar*/
body {
  margin-right: 0px;
}

.info {
  margin-bottom: 10px;
}

.Box {
  width: auto;
  box-shadow: 15px 0px 5px -2px rgba(0, 0, 0, 0.14);
}

.card {
  margin-bottom: 20px;
}
