.content {
  width: 100%;
  display: flex;
  justify-content: center;

  margin: 20px 0px;

  > div {
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.view {
  border-radius: 25px;
  border: 1px solid gray;
  width: 90%;
  height: 750px;
  margin: 20px;

  overflow-y: scroll;
}
