html {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: row;

  margin-top: 5rem;
  margin-right: 5rem;
  margin-left: 5rem;
  height: 100%;
}

.infoContainer {
  width: 40%;

  display: flex;
  flex-direction: column;
  img {
    width: 12rem;
    height: 12rem;
    margin: 0px auto;
  }
  div {
    margin: 0px auto;
  }
  .textView {
    margin-top: 2rem;
    text-align: center;
  }
  button {
    margin: 0px auto;
    display: flex;
    &:last-child {
      margin-top: 2rem;
    }
  }
}

.cardContainer {
  width: 60%;

  display: flex;
  flex-wrap: wrap;
  gap: 3em;
}

.card {
  width: 230px;
  height: 100px;
  background: #5E99F1;

  position: relative;
  border-radius: 25px;
  padding: 35px;
  &:hover {
    cursor: pointer;
  }

  .cardContent {
    display: flex;

    height: 100%;
  }
}