html {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: row;

  margin-top: 5rem;
  margin-right: 5rem;
  margin-left: 5rem;
  height: 100%;
}

.infoContainer {
  width: 40%;
  margin: 2em;
  display: flex;
  flex-direction: column;

  img {
    width: 7rem;
    height: 7rem;
    margin: 0px auto;
  }
  div {
    margin: 0px auto;
    text-align: center;
  }
  .textView {
    margin-top: 2rem;
    text-align: center;
  }
  button {
    margin: 0px auto;
    display: flex;
    &:last-child {
      margin-top: 2rem;
    }
  }
}

.cardContainer {
  width: 60%;

  display: flex;
  flex-wrap: wrap;
  gap: 3em;
}

.card {
  position: relative;
  width: 100%;
  height: 240px;

  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  display: flex;
  flex-direction: row;

  &:hover {
    cursor: pointer;
  }

  .cardTip {
    width: 70px;
    height: 240px;

    background-color: #5E99F1;
    border-radius: 20px 0px 0px 20px;
  }

  .circle {
    position: absolute;
    // text-align: center;

    width: 50px;
    height: 50px;
    margin-top: 30px;
    margin-left: 45px;

    background-color: #FFFFFF;
    border-radius: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    img {
      margin-top: calc(50px / 5);
      margin-left: calc(50px / 5)
    }
  }

  .cardContent {
    width: 100%;

    margin-top: 30px;
    margin-left: 45px;
    margin-right: 30px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.5em;

    .cardContentBottom{
      margin-top: 1.5rem;

      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .chips {
        display: flex;
        gap: 10px;
      }
    }
  }
}

.overlay {
  position: absolute;
  width: 100%;
  height: 240px;

  background: #000000;
  border-radius: 20px;
  opacity : 0.5;
  z-index: 1;

  text-align: right;

  &:hover {
    cursor: default;
  }

  .deleteIcon {
    padding: 30px;
    &:hover {
      cursor: pointer;
    }
  }
}