
.header {
  padding: 0 2rem;
  margin: 20px;
  height: 8rem;
  width: calc(100% - 40px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 20;
  transition: all 0.3s ease-out;
  border-radius: 1.6rem;
  box-sizing: border-box;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 4px -7px rgba(0, 0, 0, 0.1);
  background-color: #fff;

  .logo {
    display: block;
    img {
      width: 15rem;
    }
  }

  .menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    letter-spacing: 0.15em;
    
    li {
      list-style-type: none;

      font-family: circular;
      font-size: 1.3rem;
      font-weight: 600;

      padding: 0 2rem;
    }
  }

  .navWrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    span {
      display: flex;
      flex-direction: row;
      align-items: center;

      font-family: circular;
      font-size: 1.3rem;
      font-weight: 600;

      padding: 0 2rem;
    }
  }
}

.hidden {
  transform: translateY(-100%);
}